.spinner-wrapper {
  position: relative;
  width: 100%;
  height: min(70vh, 700px);
  overflow: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}